# Importing library

In [27]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

## loading the data

In [30]:
credit_card_data = pd.read_csv('./creditcard.csv')

In [31]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

## Distribution of legit transction and fraud transction

In [33]:
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

#### this data is highly unbalance
#### legit-->0
#### fraud-->1

In [69]:
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [71]:
print(legit)

            Time         V1         V2        V3        V4        V5  \
0            0.0  -1.359807  -0.072781  2.536347  1.378155 -0.338321
1            0.0   1.191857   0.266151  0.166480  0.448154  0.060018
2            1.0  -1.358354  -1.340163  1.773209  0.379780 -0.503198
3            1.0  -0.966272  -0.185226  1.792993 -0.863291 -0.010309
4            2.0  -1.158233   0.877737  1.548718  0.403034 -0.407193
...          ...        ...        ...       ...       ...       ...
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V21       V22  \
0       0.462388  0.239599  0.098698  0.363787  ... -0.018307  0.277838
1      -0.082361 -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672
2       1.800499  0.791461  0.247676 -1.514654  ...  0.247998  0.771679
3       1.247203  0.237609  0.377436 -1.387024  ... -0.108300  0.005274
4       0.095921  0.592941 -0.270533  0.817739  ... -0.009431  0.798278
...          ...       ...       ...       ...  ...       ...       ...
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.213454  0.111864
284803  1.058415  0.024330  0.294869  0.584800  ...  0.214205  0.924384
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.232045  0.578229
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.265245  0.800049
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.261057  0.643078

             V23       V24       V25       V26       V27       V28  Amount  \
0      -0.110474  0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62
1       0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69
2       0.909412 -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66
3      -0.190321 -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50
4      -0.137458  0.141267 -0.206010  0.502292  0.219422  0.215153   69.99
...          ...       ...       ...       ...       ...       ...     ...
284802  1.014480 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77
284803  0.012463 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79
284804 -0.037501  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88
284805 -0.163298  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00
284806  0.376777  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00

        Class
0           0
1           0
2           0
3           0
4           0
...       ...
284802      0
284803      0
284804      0
284805      0
284806      0

[284315 rows x 31 columns]

### stastical measurement

In [74]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [76]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [80]:
credit_card_data.groupby('Class').describe()

           Time                                                       \
          count          mean           std    min      25%      50%
Class
0      284315.0  94838.202258  47484.015786    0.0  54230.0  84711.0
1         492.0  80746.806911  47835.365138  406.0  41241.5  75568.5

                                 V1            ...       V28             \
            75%       max     count      mean  ...       75%        max
Class                                          ...
0      139333.0  172792.0  284315.0  0.008258  ...  0.077962  33.847808
1      128483.0  170348.0     492.0 -4.771948  ...  0.381152   1.779364

         Amount
          count        mean         std  min   25%    50%     75%       max
Class
0      284315.0   88.291022  250.105092  0.0  5.65  22.00   77.05  25691.16
1         492.0  122.211321  256.683288  0.0  1.00   9.25  105.89   2125.87

[2 rows x 240 columns]

##### building a dataset having uniform distribution is that 492 legit transction and 492 fraud transction

In [85]:
legit_sample = legit.sample(n=492)

#### concating the two data frame

In [92]:
new_data_frame = pd.concat([legit_sample,fraud],axis=0)

In [94]:
new_data_frame.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
37805,39119.0,-1.154787,1.221601,0.996147,-0.174806,-0.069490,-0.459002,0.264676,0.409003,-0.760416,...,-0.125167,-0.489680,0.085510,0.000777,-0.127222,0.052459,-0.123397,0.056327,10.99,0
163358,115868.0,1.527933,-1.746153,-1.268955,-1.867807,-1.024196,-0.722644,-0.269411,-0.157429,2.603405,...,0.402589,0.756221,-0.145311,0.640017,-0.061427,-0.796857,0.019242,0.018141,294.79,0
135575,81314.0,-1.956290,1.984792,0.019815,-0.014324,-0.998977,-0.519365,-0.611070,1.565012,-0.604449,...,-0.124105,-0.608872,0.216471,0.131101,-0.160423,0.092211,0.103626,-0.005673,14.99,0
205477,135762.0,2.042203,0.142931,-1.614000,1.400356,0.294700,-1.189642,0.528599,-0.329204,0.438596,...,0.027428,0.250704,0.023571,-0.050713,0.408136,-0.483441,-0.023406,-0.066691,1.00,0
27987,34801.0,1.384715,-0.716893,0.150579,-0.616782,-0.798662,-0.325054,-0.579571,-0.089192,-0.305863,...,-0.080672,-0.235436,-0.142452,-0.442976,0.608156,-0.220251,0.005828,0.010857,43.29,0

In [96]:
new_data_frame['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [98]:
new_data_frame.groupby('Class').describe()

        Time                                                                 \
       count          mean           std    min      25%      50%       75%
Class
0      492.0  93261.725610  47890.151269  365.0  50956.0  82703.5  138498.5
1      492.0  80746.806911  47835.365138  406.0  41241.5  75568.5  128483.0

                    V1            ...       V28           Amount              \
            max  count      mean  ...       75%       max  count        mean
Class                             ...
0      172267.0  492.0 -0.041613  ...  0.075937  2.569189  492.0   92.847703
1      170348.0  492.0 -4.771948  ...  0.381152  1.779364  492.0  122.211321


              std  min  25%    50%       75%      max
Class
0      215.631296  0.0  5.0  20.53   82.4225  2237.64
1      256.683288  0.0  1.0   9.25  105.8900  2125.87

[2 rows x 240 columns]

In [110]:
X = new_data_frame.drop(columns='Class',axis=1)
y = new_data_frame['Class']

In [112]:
print(y)

37805     0
163358    0
135575    0
205477    0
27987     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [116]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
37805    39119.0 -1.154787  1.221601  0.996147 -0.174806 -0.069490 -0.459002
163358  115868.0  1.527933 -1.746153 -1.268955 -1.867807 -1.024196 -0.722644
135575   81314.0 -1.956290  1.984792  0.019815 -0.014324 -0.998977 -0.519365
205477  135762.0  2.042203  0.142931 -1.614000  1.400356  0.294700 -1.189642
27987    34801.0  1.384715 -0.716893  0.150579 -0.616782 -0.798662 -0.325054
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
37805   0.264676  0.409003 -0.760416  ... -0.000210 -0.125167 -0.489680
163358 -0.269411 -0.157429  2.603405  ...  0.393926  0.402589  0.756221
135575 -0.611070  1.565012 -0.604449  ... -0.076673 -0.124105 -0.608872
205477  0.528599 -0.329204  0.438596  ... -0.417119  0.027428  0.250704
27987  -0.579571 -0.089192 -0.305863  ...  0.114028 -0.080672 -0.235436
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
37805   0.085510  0.000777 -0.127222  0.052459 -0.123397  0.056327   10.99
163358 -0.145311  0.640017 -0.061427 -0.796857  0.019242  0.018141  294.79
135575  0.216471  0.131101 -0.160423  0.092211  0.103626 -0.005673   14.99
205477  0.023571 -0.050713  0.408136 -0.483441 -0.023406 -0.066691    1.00
27987  -0.142452 -0.442976  0.608156 -0.220251  0.005828  0.010857   43.29
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

#### splitting the data into Training and test data

In [121]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [123]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

#### Model training using Logistic regression

In [126]:
model  =LogisticRegression()

In [130]:
model.fit(X_train,y_train)

LogisticRegression()

#### Model Evaluation

In [148]:
train_predict = model.predict(X_train)

### Model evaluation

In [151]:
train_accuracy = accuracy_score(train_predict,y_train)

In [153]:
print("accuracy on training data : ",train_accuracy)

accuracy on training data :  0.9415501905972046

In [155]:
test_predict = model.predict(X_test)
test_accuracy = accuracy_score(test_predict,y_test)
print("accuracy on test data",test_accuracy)

accuracy on test data 0.9238578680203046